.mat-dialog-actions{
    margin-bottom:0px;
    position: relative;
}

.mat-dialog-content{
    height: 26.7rem;
    overflow: hidden;
}

.mat-tab-body .mat-tab-body-active{
  overflow-y: hidden;
}

.mat-checkbox{
    margin-right:0.5rem;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  label{
    font-size: 1.3rem;
  }

  .mat-tab-label, .mat-tab-link{
    color: var(--deep-blue);
  }

  .my-dialog .mat-dialog-container {
    overflow: hidden;
  }

  .example-radio-button{
    margin-right: 0.5rem;
  }
