<div *ngIf="realEstate" class="basic-info-container">
    
    <div style="position: relative;">
        <div class="edit-container">
            <button mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>

    <h1 class="center-content">{{realEstate.name}}</h1>
    <span><b>Square area: </b>{{realEstate.sqMeters}}m2</span>
    <span><b>Address: </b>{{realEstate.city}}, {{realEstate.street}} {{realEstate.streetNum}}</span>

</div>
