div.form-container {
    min-height: 25rem;
    min-width: 60rem;
    padding: 3%;

    .sorting-column {
        flex-basis: 25% !important;
    }

    .real-estate-column {
        flex-basis: 75% !important;
    }

    h1 {
        margin-bottom: 0;
    }
}