<div style="height: 100%; min-height: 30rem; overflow-y: auto;" *ngIf="certificate">
    <p class="title">Key usages:</p>
    <p *ngFor="let usage of certificate.keyUsages; let i = index">
        <span>{{i+1}}. {{usage}}</span>
    </p>
    <p *ngIf="certificate.keyUsages.length === 0">
        There are no selected key usages
    </p>

    <p class="title">Extended key usages:</p>
    <p *ngFor="let usage of certificate.extendedKeyUsages; let i = index">
        <span>{{i+1}}. {{usage}}</span>
    </p>
    <p *ngIf="certificate.extendedKeyUsages.length === 0">
        There are no selected extended key usages
    </p>
</div>