
div.form-container {
    min-height: 25rem;
    min-width: 60rem;
    padding: 3%;

}

.buttons-column {
    flex-basis: 25% !important;
    margin-right:1.5rem;
}

.table-column {
    flex-basis: 75% !important;
}


div.form-container {
    min-height: 25rem;
    min-width: 80rem;
    padding: 3%;

    .sorting-column {
            flex-basis: 20% !important;
        }
    
    .certificates-column {
        flex-basis: 80% !important;
    }
}